
.carritoContainer {
    min-height: 590px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}


    /* min-height: 585px;
    display: flex;
    justify-content: center;
    align-items: center; */



/* .carritoImg {
    width: 310px;
} */


.container__span{
    color: rgba(12,116,117,1)
}