.detalleLibro {
    background-color: #fff; 
    border-radius: 5px; 
    margin: 15px; 
    padding: 20px;

    &__containerTitulo {
        margin: 10px;
        font-size: 22px;
        font-weight: bold;
    }

    &__img {
        width: 250px;
        height: 300px;
    }
    
    &__containerLibro {
        margin: 20px;
        padding: 10px;
    }
}

.link-btn {
    background-color: rgba(14, 174, 87, 1); 
    color: #FFFFFF;
    padding: 8px 16px; 
    border-radius: 4px; 
    text-decoration: none; 
    transition: background-color 0.3s ease;
}

/* Estilo al pasar el puntero */
.link-btn:hover {
    background-color: rgba(12,116,117,1); 
    color: #FFC107;
}

.btnAtras {
    color: rgba(12,116,117,1);

    &:hover {
        color: rgba(14, 174, 87, 1);
    }
}


@media (max-width: 800px) {
  .media {
    display: block;
  }
  
  .img {
    margin: 0 auto;
  }
}