.main {
    background-color: white;
    margin: 0 15px 0 15px;
    border-radius: 4px;
    
    &__container {
        padding: 15px;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;


    }

    &__title {
        font-size: 1.3em;
        font-weight: bold;
        margin-left: 20px;  

    }

    &__libros {
        max-width: 1300px;
        margin: 15px auto;
        padding: 10px;
        display: flex;
        justify-content: space-around;
        flex-wrap: wrap;
    }

    .cardContainer{
        width: 300px;
    }
}

